html, body {
  background-color: #000000;
  color: #ffffff;
}

#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
  user-select: none;
  touch-action: none;
  overflow: visible;
  cursor: grab;
}

#canvas-container.grabbing {
  cursor: grabbing;
}
